.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f5f5f5;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 4px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.search {
    border: none;
    border-radius: 20px;
    padding: .7em 1em;
    width: 100%;
    max-width: 48vw;
    font-size: 16px;
}

.search::placeholder {
    font-size: 16px;
    background: url("../../../public/ícone\ busca.png") no-repeat right center;
    background-size: 20px;
    padding-right: 30px;
}

.link_create {
    padding: 8px 12px;
    background-color: #72a439;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.link_create:hover {
    background-color: #0056b3;
}
